* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px "Work Sans", Arial, Tahoma;
    margin-top: 90px;
}

.header {
    width: 100%;
    background: #FFF;
    box-shadow: 0 0 10px #ccc;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
}

.header .header-logo {
    float: left;
}

.header .header-logo img {
    height: 60px;
}

.header .header-menu {
    float: right;
}

.header .header-menu img {
    width: 60px;
    margin: 5px;
}

.header .header-nav {
    float: right;
    width: 100%;
    display: none;
    font: 20px "IM Fell DW Pica SC";
}

.header .header-nav ul {
    list-style: none;
}

.header .header-nav ul li {
    padding: 10px;
}

.header .header-nav ul li a {
    color: #F00;
    text-decoration: none;
}

.header .header-nav ul li a:hover {
    color: #000;
}

.show {
    display: block !important;
}

.banner img {
    width: 100%;
}

.footer {
    background: #000;
    color: #F00;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.imagens {
    padding: 30px 10px;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex .coluna {
    width: 100%;
    margin: 5px;
}

.flex .coluna img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}

.centro {
    text-align: center;
}

h2 {
    font: 24px "IM Fell DW Pica SC";
    color: #F00;
}

.btn {
    background: #F00;
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}

.btn:hover {
    background: rgb(119, 38, 38);
}

p {
    margin: 10px;
    line-height: 25px;
}

iframe {
    border: 0;
    border-radius: 10px;
}

input, textarea {
    margin: 5px 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

button {
    border: 0;
}

@media (min-width: 480px) {
    .header .header-menu {
        display: none;
    }

    .header .header-nav {
        display: block;
        width: auto;
        float: right;
    }

    .header .header-nav ul li {
        display: inline-block;
        margin: 15px;
    }

    main {
        margin: 120px auto;
        width: 1000px;
    }

    .flex .coluna {
        width: 32%;
    }

    h2 {
        margin: 30px;
    }

    .flex-2 {
        display: flex;
    }

    .flex-2 .coluna-1 {
        width: 30%;
    }

    .flex-2 .coluna-1 img {
        width: 100%;
    }

    .flex-2 .coluna-2 {
        width: 65%;
        margin-left: 10px;
    }
}